<%= simple_form_for(@obc) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :landingpage %>
    <%= f.input :first_level %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
