<p id="notice"><%= notice %></p>

<p>
  <strong>Landingpage:</strong>
  <%= @obc.landingpage %>
</p>

<p>
  <strong>First level:</strong>
  <%= @obc.first_level %>
</p>

<%= link_to 'Edit', edit_obc_path(@obc) %> |
<%= link_to 'Back', obcs_path %>
