<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Vendorid</th>
      <th>Name</th>
      <th>Url</th>
      <th>Landingpage OBC</th>
      <th>First Level OBC</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.vendorid %></td>
        <td><%= vendor.name %></td>
        <td><%= vendor.url %></td>
        <td><%= vendor.obc.landingpage rescue 'No result' %></td>
        <td><%= vendor.obc.first_level rescue 'No result' %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
